form[fs-validate] .messages {
    clear: left;
}

form[fs-validate] .message {
    font-size: 12px;
   	padding-top: 3px;
    color: #DD2C00;
    clear: left;
}

form[fs-validate] md-datepicker-container .md-datepicker-input-container.md-datepicker-invalid input {
    border-color: rgb(221,44,0);
}

form[fs-validate] md-datepicker-container .messages {
	position: absolute;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
    overflow: hidden;
}

form[fs-validate] md-datepicker-container .message {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 1;
    margin-top: 0;
    padding-top: 5px;
    color: rgb(221,44,0);
    display: block;
}

.fs-validate-submit-loader {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fs-validate-submit-loader div {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: submit-loader-spin 2s linear infinite;
}

@keyframes submit-loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}